<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework</title>
    <link rel="stylesheet" type="text/css" href="select_component.css">
    <script src="select_component.js" type="module" rel="script"></script>
    <script src="machine.js" type="module" rel="script"></script>
</head>
<body>
<div id="select1" class="select-box">
    <div class="select-control">

        <div class="content">
            <div class="select-input">
                <input role="combobox" value="">
            </div>
        </div>

        <div class="right-fields">
            <div class="select-clear-zone">
                <span class="select-clear">×</span>
            </div>
            <div class="select-arrow-zone">
                <span class="select-arrow"></span>
            </div>
        </div>
    </div>

    <div class="select-menu-outer" style="display: none;">
        <div class="select-menu">
            <div class="select-option">Введите не менее 2 символов</div>
        </div>
    </div>
</div>

</body>
</html>
