<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework</title>
    <script src="machine.js" type="module"></script>
    <script src="test_simple_machine.js" type="module" rel="script"></script>
    <script src="test_simple_actions_machine.js" type="module" rel="script"></script>
    <script src="test_two_machines.js" type="module" rel="script"></script>
    <script src="test_actions_machine.js" type="module" rel="script"></script>
    <script src="test_multistate_machine.js" type="module" rel="script"></script>
    <script src="test_async_machine.js" type="module" rel="script"></script>
    <script src="test_different_events.js" type="module" rel="script"></script>
    <script src="test_nested_machines.js" type="module" rel="script"></script>
    <script src="test_nested_machines_2.js" type="module" rel="script"></script>
</head>
<body>
</body>
</html>
